.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.loading-text {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
